@import "tailwindcss";

/* Theme */
@theme {
  --font-primary: var(--font-inter), "Inter", sans-serif;
  --font-secondary: var(--font-dm-sans), "DM Sans", sans-serif;
}

/* Base */
html,
body {
  height: 100%;
  min-height: 100%;
  position: relative;
  background: black;
  font-family: var(--font-primary);
  margin: 0;
}

html.lenis {
  scroll-behavior: auto !important;
}

/* 🌑 PREMIUM DARK SCROLLBAR */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #2a2a2a;
  border-radius: 10px;
  transition: background 0.2s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #444;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #2a2a2a transparent;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.marquee {
  width: max-content;
  animation: marquee 30s linear infinite;
}

@media (prefers-reduced-motion: reduce) {
  .marquee {
    animation: none;
  }
  .animate-pulse {
    animation: none;
  }
}
